.filter-btn-container {
  position: relative;
}

.filter-dropdown {
  margin-top: 4px;
  top: 100%;
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: white;
  padding: 0;
  width: 200px;
  box-shadow: var(--shadow);
  border-radius: 6px;
  overflow: hidden;
  z-index: 60;
}

.filter-btn-container.active .filter-dropdown {
  display: flex;
}

.filter-form {
  display: flex;
  align-items: center;
  flex-direction: row;
  box-shadow: none;
  padding: 0;
  position: relative;
  width: 100%;
}

input.filter-search {
  border: none;
  outline: none;
  margin: 0;
  padding: 12px;
  width: 100%;
  font-size: 14px;
}

.filter-dropdown hr {
  width: 100%;
  border: 1px solid #eee;
  margin: 0;
}

input.filter-search:focus {
  outline: none;
  border: none;
}

.filter-form .search-icon {
  font-size: 16px;
  color: #ddd;
  margin-left: 8px;
}

.filtered-items {
  padding: 4px;
  overflow-y: auto;
  max-height: 190px;
}

.filtered-item {
  display: flex;
  padding: 12px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.filtered-item .check {
  margin: 0;
  width: 12px;
  pointer-events: none;
  accent-color: black;
}

.filtered-item:hover {
  background-color: #eee;
}

.filtered-item .name {
  margin: 0 8px;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clear-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  row-gap: 12px;
  font-size: 14px;
  cursor: pointer;
  background-color: white;
  border: none;
  margin: 4px;
  border-radius: 4px;
}

.clear-filter:hover {
  background-color: #eee;
}

.filter-btn {
  border: 1px dashed #ddd;
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 400;
}

.filter-btn .selected-items {
  padding-left: 6px;
  border-left: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  column-gap: 4px;
}

.filter-btn .selected-item {
  font-size: 10px;
  color: var(--text-color);
  font-weight: 400;
  background-color: #eee;
  border-radius: 4px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.filter-btn .selected-item p {
  padding: 4px 4px;
  font-size: 10px;
  color: var(--text-color);
  font-weight: 400;
}

.filter-btn .selected-item span {
  font-size: 10px;
  color: var(--text-color);
  font-weight: 400;
  padding: 4px 4px 4px 0;
}

.filter-btn .selected-item:hover {
  background-color: #ddd;
}
