.table-container {
    overflow-x: scroll;
    overflow-y: scroll;
}

.emp-table {
    border-collapse: collapse;
    min-width: 1600px;
    width: 100%;
}

.emp-table th {
    border: 1px solid #ddd;
    padding: 0;
}

.emp-table td {
    border: 1px solid #ddd;
    padding: 8px 8px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: stretch;
}

.column-title {
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    text-align: start;
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px;
}

.column-title .up {
    margin-left: 8px;
    visibility: hidden;
    transition: transform 0.2s ease-in-out;
    user-select: none;
}

.column-title.desc .up {
    visibility: visible;
    transform: rotate(180deg);
}

.column-title.asc .up {
    visibility: visible;
}


.filter {
    font-weight: 400;
    font-size: 16px;
    display: none;
    user-select: none;
}

.filter-form-container {
    position: relative;
    height: 100%;
    align-self: flex-end;
}

.filter-form {
    position: absolute;
    right: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    row-gap: 16px;
    border-radius: 8px;
    padding: 16px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3), 0 4px 8px 3px rgba(0, 0, 0, .15);
}

.filter-form button {
    margin-right: 8px;
    cursor: pointer;
}

.filter-form input {
    font-size: 18px;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline-color: var(--primary-color);
}

.highlight {
    background-color: rgba(80, 151, 255, 0.4);
}